{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default" ng-app="myApp" ng-controller="myCtrl">

        <form class="simple-form">
            <div class="input-group" class="col-xs-8">
                <div class="col-xs-10">
                    <input name="name" ng-model="con.name" class="form-control" type="text" placeholder="Artisanal kale" id="example-text-input" ng-click="hideMsg()" required>
                </div>


                <div>
                    <select ng-model="con.priority" ng-options="country.id as country.name for country in con.countries"></select>
                </div>

                <span class="input-group-btn">
                    <div class="form-group">
                        <button type="submit" ng-click="add(con)" class="btn btn-primary" ng-disabled="myform.$invalid">Add Item</button>
                    </div>
                </span>
            </div>
        </form>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Item Name</th>
                <th>State</th>
                <th>Priority</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">

                    <td>{{ '{{ item.id }}' }}</td>
                    <td>{{ '{{ item.name }}' }}</td>
                    <td><input type="button" ng-click="done(item.id)" value="{{ '{{ item.state }}' }}"></td>
                    <td ng-show="item.priority == 1">High</td>
                    <td ng-show="item.priority == 2">Normal</td>
                    <td ng-show="item.priority == 3">Low</td>
                    <td><input type="button" ng-click="delete(item.id)" value="Delete"></td>
                </tr>

            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}