{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default" ng-app="myApp" ng-controller="myCtrl">

        <form class="simple-form">
            <div class="input-group" class="col-xs-8">
                <div class="col-xs-10">
                    <input name="name" ng-model="con.name" class="form-control" type="text" placeholder="Artisanal kale" id="example-text-input" ng-click="hideMsg()" required>
                </div>
                <div class="dropdown">
                    <select ng-style="{'width': getMaxLength() + 'px'}" name="singleSelect" ng-model="con.priority">
                        <option value="3"><h2>Low Priority</h2></option>
                        <option value="2" >Normal Priority</option>
                        <option value="1">High Priority</option>
                    </select>


                </div>

                <span class="input-group-btn">
                    <div class="form-group">
                        <button type="submit" ng-click="add(con)" class="btn btn-primary" ng-disabled="myform.$invalid">Add Item</button>
                    </div>
                </span>
            </div>


        </form>
        {{ '{{ con }}' }}

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Item Name</th>
                <th>State</th>
                <th>Priority</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">

                    <td>{{ '{{ item.id }}' }}</td>
                    <td>{{ '{{ item.name }}' }}</td>
                    <td>{{ '{{ item.state }}' }}</td>
                    <td>{{ '{{ item.priority }}' }}</td>
                    <td>{{ '{{ item.created }}' }}</td>
                    <td><input type="button" ng-click="delete(item.id)" value="Delete"></td>
                    <td><a href="http://localhost:8000/edit/{{ '{{ item.id }}' }}" ng-click="getContact(contact.id)" class="btn" >Edit</a></td>

                </tr>

            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}